
/* Index */
body{
    font-family: 'Roboto Slab', serif;
}

.home {
    background-color: #005cff;
    color : #ffffff;
}

#logo {
    margin-top: 150px;
    padding: 30px;
}

.blue{
    color:blue;
}

.glyphicon-th-large{
    color : #005cff;
}
#logoC {
    margin-top: 70px;
    padding: 30px;
}

#page {
    margin: 15px;
}

#menu{
    background-position: top center;
    margin-bottom: -15px;
}

#marge {
    padding-bottom: 80px;
}

.col-md-12.mg{
    height: 50px;
}


/* User */

.userinfo{
    padding: 8px 8px 8px 70px;
    color: #004082;
}

/* Recherche */

.row.search{

}

/* Presentation */
.col-md-6.foo{
    font-family: 'Roboto Slab', serif;
    color: #004082;
    padding: 30px;
    margin-top: 50px;
}

.col-md-6.foo>h2{
    font-size: 300%;
    font-weight: bold;
}

.para{
    font-size: 180%;
}

/* Navigateur Home */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background-color: white;
}

.collapse.navbar-collapse{
    font-size: 16px;
    padding-top: 5px;
}

/* Button */

.btn-outline-secondary {
    background-color: #196cff;
    color: white;
    transition: all .5s;
    border: 1px solid white;
    border-radius: 15px;
    padding: 12px 40px;
    margin-top: 40px;
}

.btn-outline-secondary:hover {
    background-color: #004082;
}


/*menu*/

/* button menu */

.btn.btn-default.go{
    background-color: #196cff;
    color: white;
    transition: all .5s;
    border: 1px solid white;
    border-radius: 15px;
}

.btn.btn-default.go:hover {
    background-color: #004082;
}

.form-control.sub{
    color: #005cff;
    transition: all .5s;
    border: 1px solid #005cff;
    border-radius: 15px;
}

.colortext.sub{
    color: #005cff;
    transition: all .5s;
    border: 1px solid #005cff;
    border-radius: 15px;
    padding: 6px;
}

#btn-header{
  margin: 50px;
  top: 70px;
  width: 100%;
}

#navderoulant{
  position: fixed;
  bottom: 10px;

}
#navderoulant a{
  font-size: 12px;
}

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #005cff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: -5px 9px 10px 5px rgba(25, 108, 255, .3);
}

span.glyphicon-th-large {
    font-size: 1.5em;
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 70px;
    text-decoration: none;
    font-size: 27px;
    color: white;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-right .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.leslogos {
    width: 50px;
}
