.body{
  font-family: monospace;
  height: 100vh;
}
.home{
  background-color: #005cff;
  height: 100vh;
  color: white;
}
#logo{
  margin-top: 250px;
}
#btn{

}
.img{

}
#menu-principal{
  background-position: top center;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background-color: white;
}

.btn-outline-secondary {
    background-color: #004082;
    color: inherit;
    transition: all .5s;
    border: none;
    border-radius: 15px;
    padding: 12px 40px;
    margin-top:40px;
}
.btn-outline-secondary:hover{
    background-color: #196cff;
}
